{% extends 'base.html' %}

{% load widget_tweaks %}


{% block title %}
    Trocar senha - {{ block.super }}
{% endblock title %}


{% block body %}


    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1>Alterar a senha</h1>
                {% include 'partials/messages.html' %}
                <form method="POST" action=".">
                {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.old_password.id_form_label }}">Senha anterior</label>
                        {{ form.old_password|add_class:"form-control" |attr:"type_password" }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.new_password1.id_form_label }}">Nova senha</label>
                        {{ form.new_password1|add_class:"form-control" |attr:"type_password" }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.new_password2.id_form_label }}">Confirma a senha</label>
                        {{ form.new_password2|add_class:"form-control" |attr:"type_password" }}
                    </div>
                    <button type="submit" class="btn btn-primary">Atualizar</button>
                 </form>

            </div>
        </div>

    </div>

{% endblock body %}



