{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block title %}
    Meu Perfil - {{ block.super }}
{% endblock title %}

{% block content %}
        <div class="container">
            <h3 class="text-dark mb-4">Meu Perfil</h3>
            <div class="row mb-3">
                {% if profile %}
                <div class="col-lg-2">
                    <div class="card mb-3">
                        <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="{{ profile.photo.url }}" width="100" height="100">
                            <div class="mb-3"><button class="btn btn-primary btn-sm" type="button">Alterar Foto</button></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col">
                            <div class="card shadow mb-3">
                                <div class="card-header py-1">
                                    <p class="text-primary m-0 font-weight-bold">Configurações do Usuário</p>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="p-3 mb-2 bg-light text-dark">
                                            <div class="form-row">
                                                <div class="col-md-3">
                                                    <div class="form-group"><label for="username"><strong>Usuário</strong></label><input readonly class="form-control" type="text" value="{{ user.username }}" name="username"></div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="form-group"><label for="email"><strong>E-mail</strong></label><input readonly class="form-control" type="email" value="{{ profile.user.email }}" name="email"></div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group"><label for="first_name"><strong>Primeiro Nome</strong></label><input readonly class="form-control" type="text" value="{{ user.first_name }}" name="first_name"></div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group"><label for="last_name"><strong>Último Nome</strong></label><input readonly class="form-control" type="text" value="{{ user.last_name }}" name="last_name"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="card shadow mb-3">
                                <div class="card-header py-1">
                                    <p class="text-primary m-0 font-weight-bold">Dados do Usuário</p>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="p-3 mb-2 bg-light text-dark">
                                            <div class="form-row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="data_nascimento"><strong>Data de Nascimento</strong></label>
                                                        <input readonly class="form-control" type="text" placeholder="{{ profile.data_nascimento | date:'d/m/Y' }}" name="data_nascimento">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="sexo"><strong>Sexo</strong></label>
                                                        <input readonly class="form-control" type="text" placeholder="{{ profile.get_sexo_display }}" name="sexo">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="cpf"><strong>CPF</strong></label>
                                                        <input readonly class="form-control" type="text" placeholder="{{ profile.cpf }}" name="cpf">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="card shadow mb-3">
                                <div class="card-header py-1">
                                    <p class="text-primary m-0 font-weight-bold">Contatos do Usuário</p>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="p-3 mb-2 bg-light text-dark">
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="endereco"><strong>Endereço</strong></label>
                                                    <input readonly class="form-control" type="text" placeholder="{{ profile.endereco }}" name="endereco">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="numero"><strong>Número</strong></label>
                                                    <input readonly class="form-control" type="text" placeholder="{{ profile.numero }}" name="numero">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="complemento"><strong>Complemento</strong></label>
                                                    <input readonly class="form-control" type="text" placeholder="{{ profile.complemento }}" name="complemento">
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="bairro"><strong>Bairro</strong></label>
                                                    <input readonly class="form-control" type="text" placeholder="{{ profile.bairro }}" name="bairro">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="cidade"><strong>Cidade</strong></label>
                                                    <input readonly class="form-control" type="text" value="{{ profile.cidade }}" name="cidade">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="estado"><strong>Estado</strong></label>
                                                    <input readonly class="form-control" type="text" value="{{ profile.estado }}" name="estado">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="cep"><strong>CEP</strong></label>
                                                    <input readonly class="form-control" type="text" placeholder="{{ profile.cep }}" name="cep">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                {% else %}
                    <div class="container-fluid">
                        <h2 class="mb-4">Você ainda não criou um perfil.</h2>
                        <a href="{% url 'accounts:add_user_profile' %}" class="btn btn-primary">Criar Perfil</a>
                    </div>
                {% endif %}
            </div>
        </div>
{#    <div class="container-fluid">#}
{#        <div class="row">#}
{#            <div class="col-md-12">#}
{#            <h1>Meu Perfil</h1>#}
{##}
{#            {% if profile %}#}
{#                <div class="media">#}
{#                    <img src="{{ profile.photo.url }}" class="align-self-start mr-3 rounded-circle" alt="..." width="100" height="100">#}
{#                    <div class="media-body">#}
{#                        <h5 class="mt-0">{{ profile.user.get_full_name }}</h5>#}
{#                        <p>Celular: {{ profile.cel_phone }}</p>#}
{#                        <p>E-mail: {{ profile.user.email }}</p>#}
{#                    </div>#}
{#                </div>#}
{#                <a href="{% url 'accounts:change_user_profile' user.username %}" class="btn btn-primary">Alterar Perfil</a>#}
{#            {% else %}#}
{#                <h2>Você ainda não criou um perfil.</h2>#}
{#                <a href="{% url 'accounts:add_user_profile' %}" class="btn btn-primary">Criar Perfil</a>#}
{#            {% endif %}#}
{#            </div>#}
{#        </div>#}

{% endblock content %}
