{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}
    Adicionar Tarefa - {{ block.super }}
{% endblock title %}

{% block body %}
    <div class="container">
        <h1>Categoria</h1>
        {% include 'partials/messages.html' %}
        <div class="row">
            <div class="col-md-12">
                <form action="." method="POST">
                {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.name.id_for_label }}"><strong>Nome:</strong></label>
                        {{ form.name|add_class:"form-control"|attr:"autofocus" }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.description.id_for_label }}"><strong>Descrição:</strong></label>
                        {{ form.description|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.end_date.id_for_label }}"><strong>Data Final:</strong></label>
                        {{ form.end_date|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.priority.id_for_label }}"><strong>Prioridade:</strong></label>
                        {{ form.priority|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.category.id_for_label }}"><strong>Categoria:</strong></label>
                        {{ form.category|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.status.id_for_label }}"><strong>Status:</strong></label>
                        {{ form.status|add_class:"form-control" }}
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}