{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}
    Lista de Tarefas - {{ block.super }}
{% endblock title %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12"></div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <h2 class="pull-left"><i class="fa fa-table"></i> Listagem de Tarefas</h2>
            {% include 'partials/messages.html' %}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Tarefa</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Data Inicial</th>
                            <th scope="col">Data Final</th>
                            <th scope="col">Prioridade</th>
                            <th scope="col">Status</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td scope="row">{{ task.id }}</td>
                                <td scope="row">{{ task.title }}</td>
                                <td scope="row">{{ task.description }}</td>
                                <td scope="row">{{ task.start_time|date:'d/m/Y' }}</td>
                                <td scope="row">{{ task.end_time|date:'d/m/Y' }}</td>
                                <td scope="row">{{ task.get_priority_display }}</td>
                                {% if task.status == 'FA' %}
                                    <td><span class="badge badge-warning">{{ task.get_status_display }}</span></td>
                                {% elif task.status == 'AF' %}
                                    <td><span class="badge badge-danger">{{ task.get_status_display }}</span></td>
                                {% else %}
                                    <td><span class="badge badge-success">{{ task.get_status_display }}</span></td>
                                {% endif %}
                                <td>
                                    <a href="{% url 'tasks:task-detail' task.id %}">
                                        <i class="fa fa-search" aria-hidden="true" style="color: green;"></i>
                                    </a>
                                    <a href="{% url 'tasks:edit_task' task.id %}">
                                        <i class="fa fa-pencil-square" aria-hidden="true" style="color: #6B8E23;"></i>
                                    </a>
                                    <a href="{% url 'tasks:task_delete' task.id %}">
                                        <i class="fa fa-trash" aria-hidden="true" style="color: red;"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{#    {% include 'partials/confirm_delete_modal.html' %}#}
</div>
{% endblock body %}