{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}
    Adicionar Categoria - {{ block.super }}
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12"></div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                <h2 class="pull-left"><i class="fa fa-table"></i> Listagem de Categorias</h2>
                {% include 'partials/messages.html' %}
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Título</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                            <tr>
                                <th scope="row">{{ category.id }}</th>
                                <td>{{ category.title }}</td>
                                <td>{{ category.description }}</td>
                                <td>
                                    <a href="{% url 'tasks:edit_category' category.id %}">
                                        <i class="fa fa-pencil-square" aria-hidden="true" style="color: #6B8E23;"></i>
                                    </a>
                                    <a href="{% url 'tasks:delete_category' category.id %}">
                                        <i class="fa fa-trash" aria-hidden="true" style="color: red;"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% include 'partials/confirm_delete_modal.html' %}
    </div>
</div>
{% endblock content %}