{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}
    Lista de Tarefas - {{ block.super }}
{% endblock title %}

{% block body %}
    <div class="container">
        <h1>Tarefas</h1>
        {% include 'partials/messages.html' %}
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tarefa</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Data Inicial</th>
                            <th scope="col">Data Final</th>
                            <th scope="col">Prioridade</th>
                            <th scope="col">Status</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td scope="row">{{ task.id }}</td>
                                <td scope="row">{{ task.title }}</td>
                                <td scope="row">{{ task.description }}</td>
                                <td scope="row">{{ task.start_time|date:'d/m/Y' }}</td>
                                <td scope="row">{{ task.end_time|date:'d/m/Y' }}</td>
                                <td scope="row">{{ task.get_priority_display }}</td>
                                <td scope="row">{{ task.get_status_display }}</td>
                                <td><a href="{% url 'tasks:edit_task' task.id %}">
                                        <i class="fa fa-pencil-square fa-lg" aria-hidden="true" style="color: #6B8E23;"></i>
                                    </a>
                                    <a href="{% url 'tasks:task_delete' task.id %}">
                                        <i class="fa fa-trash fa-lg" aria-hidden="true" style="color: red;"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% include 'partials/confirm_delete_modal.html' %}
    </div>
{% endblock body %}