{% extends 'base.html' %}

{% block title %}
Detalhe da Tarefa
{% endblock %}

{% block body %}
    <div class="container">
        <div class="clearfix">
            <a class="btn btn-primary left" href="{% url 'task_calendar:calendar' %}"> Calendário </a>
            <a class="btn btn-info right mr-2" href="{% url 'task_calendar:edit_task' task.pk %}"> Editar Tarefa </a>
        </div>
        
        <div class="clearfix">
            <h3>Tarefa: {{ task.title }}</h3>
            <p>
                <strong>De
                    <span style="color: red;">{{ task.start_time | date:'d/m/Y' }}</span> à
                    <span style="color: red;">{{ task.end_time | date:'d/m/Y' }}</span>
                </strong>
            </p>
            <hr>
            <h5><p>{{ task.description }}</p></h5>
        </div>
        <hr>
        <div class="clearfix">
            <h4 class="left" > Membro(s) desta tarefa</h4>
{#            <a class="btn btn-success right" href="{% url 'calendarapp:add_eventmember' event.id %}"> Adicionar Membro </a>#}
        </div>
        <table class="table table-bordered">
            <thead>                  
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Nome</th>
                  <th>Uuário</th>
                  <th>E-mail</th>
                  <th>Ação</th>
                </tr>
              </thead>
              <tbody>
                {% for member in eventmember %}
                <tr role="row">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ member.user.first_name }} {{ member.user.last_name }}</td>
                    <td>{{ member.user.username }}</td>
                    <td>{{ member.user.email }}</td>
                    <td>
{#                        <a class="btn btn-danger" href="{% url 'calendarapp:remove_event' member.id %}">Remove</a>#}
                    </td>
                </tr>
                {% endfor %}
              </tbody>
        </table>
    </div>
{% endblock %}