{% extends 'base.html' %}

{% block title %}
Detalhe da Tarefa
{% endblock %}

{% block content %}
    <div class="container">
        <div class="clearfix">
            <a class="btn btn-primary left" href="{% url 'tasks:calendar' %}"> Calendário </a>
            <a class="btn btn-info right mr-2" href="{% url 'tasks:edit_task' task.pk %}"> Editar Tarefa </a>
        </div>
        
        <div class="clearfix">
            <h3>Título da Tarefa: {{ task.title }}</h3>
            <p>
                <strong>De
                    <span style="color: red;">{{ task.start_time | date:'d/m/Y' }}</span> à
                    <span style="color: red;">{{ task.end_time | date:'d/m/Y' }}</span>
                </strong>
            </p>
            <hr>
            <table class="table table-bordered">
                <h4><p>{{ task.description }}</p></h4>
            </table>
        </div>
        <hr>
        <br><br>
        <div class="clearfix">
            <h4 class="left" > Membro(s) da tarefa</h4>
            <a class="btn btn-success right" href="{% url 'tasks:add_taskmember' task.id %}"> Adicionar Membro </a>
        </div>
        <table class="table table-bordered">
            <thead>                  
                <tr class="text-center">
                  <th style="width: 10px">Seq.</th>
                  <th>Nome</th>
                  <th>Uuário</th>
                  <th>E-mail</th>
                  <th>Ação</th>
                </tr>
              </thead>
              <tbody>
                {% for member in taskmember %}
                <tr role="row">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ member.user.first_name }} {{ member.user.last_name }}</td>
                    <td>{{ member.user.username }}</td>
                    <td>{{ member.user.email }}</td>
                    <td class="text-center">
                        <a href="{% url 'tasks:remove_task' member.id %}">
                            <i class="fa fa-trash" aria-hidden="true" style="color: red;"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
              </tbody>
        </table>
    </div>
{% endblock %}