{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}
    {{ block.super }}
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Tarefas do Dia</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Tarefa</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Data Final</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <tr>
                                <th>{{ task.id }}</th>
                                <th>{{ task.title }}</th>
                                <td>{{ task.description }}</td>
                                <td>{{ task.end_time|date:'d/m/Y' }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
  </div>
{% endblock content %}